.card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 430px;
    height: 235px;

  }

.color {
  background-color: #dff9fb;
  color: black;
  text-shadow: 6px 3px 10px rgba(150, 150, 150, 1);
}

.email {
  font-size: "150px";
  text-shadow: 6px 3px 10px rgba(150, 150, 150, 1);
  color: black;
}

